<ion-header>
  <ion-navbar color=secondary>
    <ion-title>
      Historie
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item text-wrap *ngFor="let workday of workdayHistory">     
      {{printDate(workday)}}
      <p>{{printCustomers(workday)}}</p>
      <button *ngIf="!workday.isUploaded" ion-button item-right clear icon-only (click)="uploadWorkday(workday)">
        <ion-icon name="cloud-upload"></ion-icon>  
      </button>
      <ion-badge *ngIf="workday.isUploaded" item-right>Archiviert</ion-badge>
    </ion-item>
  </ion-list>
</ion-content>
