<ion-header>
  <ion-navbar color=secondary>
    <ion-title>Arbeitstag erfassen</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <ion-item>
      <ion-label>Datum</ion-label>
      <ion-datetime displayFormat="DD MM YYYY" [(ngModel)]="therapyDate" disabled={{isCreated}}></ion-datetime>
    </ion-item>
    <ion-item *ngIf="isCreated == false">
      <button ion-button block (click)="createWorkDay()">Arbeitstag anlegen</button>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="isCreated == true">
    <ion-item>
        <ion-label>Kilometerstand</ion-label>
        <ion-input type="number" [(ngModel)]="milage" (input)="setToUnsaved()"></ion-input>
    </ion-item>
    <ion-item>
      <h2>Ausgangspunkt</h2>
      <p>{{getStartAddress()}}</p>
      <button ion-button item-right icon-only color="secondary" clear (click)="changeStartAddress()">
        <ion-icon name="create"></ion-icon>  
      </button>
    </ion-item>
    <ion-item *ngFor="let customer of customersOfDay; let i = index">
      <h2>{{customer.title}} {{customer.lastName}} {{customer.firstName}}</h2>
      <p>
        {{customer.address.street}} {{customer.address.streetNumber}},
        {{customer.address.zipCode}} {{customer.address.city}}
      </p>
      <button ion-button *ngIf="hasInvoice(i)" item-right round="true" (click)="setInvoiceValue(i)">€{{getInvoiceValue(i)}}</button>
      <button ion-button item-right icon-only [color]="hasInvoice(i) ? 'primary' : 'light'" clear (click)="changeInvoice(i)">
          <ion-icon name="pricetag"></ion-icon>  
        </button>
      <button ion-button item-right icon-only color="danger" clear (click)="removeCustomer(i)">
        <ion-icon name="trash"></ion-icon>  
      </button>
      <button ion-button item-right icon-only color="secondary" clear (click)="changeCustomerAddress(i)">
        <ion-icon name="create"></ion-icon>  
      </button>
      <button ion-button item-right clear color="shadow" (click)="overuleDistance(i)">
        {{customer.routeToCustomer?.lengthInKm}} km
      </button>
    </ion-item>
    <ion-item>
      <button ion-button icon-left block color=light (click)="addCustomer()">
        <ion-icon name="add-circle"></ion-icon>
        Kunde hinzufügen ...
      </button>
    </ion-item>
    <ion-item>
      <h2>Endpunkt</h2>
      <p>{{getEndAddress()}}</p>
      <button ion-button item-right icon-only color="secondary" clear (click)="changeEndAddress()">
        <ion-icon name="create"></ion-icon>  
      </button>
      <button *ngIf="lastRoute?.lengthInKm > 0" ion-button item-right clear color="shadow" (click)="overuleDistance(0)">
        {{lastRoute?.lengthInKm}} km
      </button>
    </ion-item> 
  </ion-list>
</ion-content>

<ion-footer *ngIf="isCreated == true">
  <ion-toolbar color=light>
    <ion-title>Arbeitstag</ion-title>
    <ion-buttons start>
    <button ion-button [disabled]="isDaySaved" (click)="saveWorkday()">
      Speichern
    </button>
    <button ion-button [disabled]="isDayEmpty || (milage === undefined) || (milage <= 0)" (click)="submitWorkday()">
      Abschließen
    </button>
    <button ion-button (click)="deleteWorkday()">
      Löschen
    </button>
  </ion-buttons>
  </ion-toolbar>
</ion-footer>


