<ion-header>
  <ion-navbar color=secondary>
    <ion-title>
      Kundenliste
    </ion-title>
    <ion-buttons end>
        <ion-label>Inaktive Kunden anzeigen</ion-label>
        <ion-toggle [(ngModel)]="showInactive"></ion-toggle>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div>
  <ion-segment [(ngModel)]="customerData">
    <ion-segment-button value="customers">
      Kundenliste
    </ion-segment-button>
    <ion-segment-button value="addresses">
      Adressliste
    </ion-segment-button>
  </ion-segment>
  </div>

  <div [ngSwitch]="customerData">
    <div *ngSwitchCase="'customers'">
    <ion-list>
      <ion-item *ngFor="let customer of customers; let i = index">
        <h2>{{customer.title}} {{customer.lastName}} {{customer.firstName}}</h2>
            <p>
              {{customer.address.street}} {{customer.address.streetNumber}},
              {{customer.address.zipCode}} {{customer.address.city}}
            </p>
            <button ion-button item-right icon-only color="danger" clear (click)="removeCustomer(i)">
              <ion-icon name="trash"></ion-icon>  
            </button>
            <button ion-button item-right icon-only color="secondary" clear (click)="changeCustomer(i)">
              <ion-icon name="create"></ion-icon>  
            </button>
            <button ion-button item-right icon-only collor="light" clear (click)="toggleCustomer(i)">
              <ion-icon name="eye" *ngIf="customer.isActive == true"></ion-icon>
              <ion-icon name="eye-off" *ngIf="customer.isActive == false"></ion-icon>
            </button>
    </ion-item>
    </ion-list>
    <button ion-button block (click)="createCustomer()">
      Neuen Kunden anlegen
    </button>
    </div>
    <div *ngSwitchCase="'addresses'">
    <ion-list>
      <ion-item *ngFor="let address of addresses; let i = index">
        <h2>{{address.note}}</h2>
          <p>
            {{address.street}} {{address.streetNumber}}, 
            {{address.zipCode}} {{address.city}}
        </p>
        <button ion-button item-right icon-only color="danger" clear (click)="removeAddress(i)">
          <ion-icon name="trash"></ion-icon>  
        </button>
        <button ion-button item-right icon-only color="secondary" clear (click)="changeAddress(i)">
          <ion-icon name="create"></ion-icon>  
        </button>
      </ion-item>
    </ion-list>
    <button ion-button block (click)="createAddress()">
      Neue Adresse anlegen
    </button>
    </div>
  </div>
</ion-content>
